<!DOCTYPE html>
<html>
<head>
    <title>采集关系配置</title>
    <meta charset="utf-8">
    <link href="../examples/content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="../../styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jszip.min.js"></script>
    <script src="../../js/kendo.all.min.js"></script>
    <script src="../examples/content/shared/js/console.js"></script>
    
    
</head>
<body>
<div>
    <table id="inputdiv" cellpadding="20" align="left" style="margin:1% 15% 0 10%">
        <tr>
            <td >监控端名称:&nbsp;<input type="text" name="mname" value="<%= MNTNAME%>" ></td>
            <td >服务器名称:&nbsp;<input type="text" name="sname" value="<%= SVRNAME%>"></td>
        </tr>
        <tr>
            <td >服务器IP:&nbsp;<input type="text" name="ip" value="<%= SVRIP%>"></td>
            <td >端口:&nbsp;<input type="text" name="port" value="<%= SVRPORT%>"></td>
        </tr> 
    </table>
</div>


    <style>
        #inputdiv td{
            font-size:1em;
            width: 379px;
            text-align: right;
        }
    </style>
</body>
</html>
