<head>
    <meta charset="utf-8">
    <link href="/content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="/styles/kendo.common.min.css" rel="stylesheet">
    <link href="/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="/styles/kendo.default.min.css" rel="stylesheet">
    <link href="/styles/kendo.default.mobile.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/pagination/lib/pagination.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/pagination/lib/jquery.pagination.js"></script>    
    <script src="/js/jszip.min.js"></script>
    <script src="/js/kendo.all.min.js"></script>
    <script src="/content/shared/js/console.js"></script>
</head>
<html>

<body>
    <form id="upForm2" name="upForm2" enctype="multipart/form-data" style="display: none;">
        <label for="fileInput2" id="label_fileInput2" class="label_fileInput">选择文件</label>
        <input class="fileInput" type="file" id="fileInput2" name="imgFile2" accept="image/*">
        <input type='text' id="BEARID" name='BEARID' value='default'>
    </form>
    <div id="toolbar" class="toolbar">
        <button id='createBar'>
            <i class="fa fa-plus" aria-hidden="true"></i>
            新建</button>
    </div>
    <!-- 分页条 -->
    <div id="Pagination" class="pagination"></div>
    <div id="Searchresult">分页内容显示</div>
    <div id="hiddenresult" style="display:none;">
        <div id='mainBearings'></div>
    </div>
</body>
<script>

    // checkedNode = { 'mtid': 1 };
    // checkedNode = parent.bearcheckednode[0]
    if (parent.bearcheckednode.length == 1) {
        checkedNode = {"mtid": parent.bearcheckednode[0].id}
    } else {
        checkedNode = {"mtid": null}
        alert("请先选择一个节点进行编辑")
    }
    console.log(checkedNode)
    var bearNum = 0;
    function bearingString(index, serialNumber, kind, position, lastInspect, good, innerProblem, outProblem, ballProblem, imgPath) {
        return '<div class="SB">' +
            '<div id="showBearing' + String(index) + '" class="show-bearing">' +
            '<form id="form' + String(index) + '" class="form">' +
            '<img src="' + imgPath +'" alt="B' + String(index) + '" style="height: 80px;float: left;">' +
            '<table class="table-info">' +
            '<tr>' +
            '<td>' +
            '<p>轴承编号：</p>' +
            '</td>' +
            '<td>' +
            '<input type="text" name="" id="B' + String(index) + '" value="' + serialNumber + '" disabled>' +
            '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>' +
            '<p>轴承类型：</p>' +
            '</td>' +
            '<td>' +
            '<input type="text" name="" id="" value="' + kind + '" disabled>' +
            '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>' +
            '<p>轴承位置：</p>' +
            '</td>' +
            '<td>' +
            '<input type="text" name="" id="" value="' + position + '" disabled>' +
            '</td>' +
            '</tr>' +
            '</table>' +
            '</form>' +
            '<table id="edit-table' + String(index) + '" class="edit-table">' +
            ' <tr>' +
            ' <td>' +
            ' <button>编辑</button>' +
            ' </td>' +
            ' </tr>' +
            ' <tr>' +
            ' <td>' +
            ' <button>删除</button>' +
            ' </td>' +
            ' </tr>' +
            ' <tr>' +
            ' <td>' +
            ' <button>保存</button>' +
            ' </td>' +
            ' </tr>' +
            '</table>' +
            '<table id="diagnosis-table' + String(index) + '" class="diagnosis-table">' +
            '<tr>' +
            '<th style="text-align: left">' +
            ' 故障诊断结果：' +
            '</th>' +
            '<td style="text-align: right">' + new Date(lastInspect).format("yyyy-MM-DD") + '</td>' +
            '<td style="text-align: left">' + new Date(lastInspect).format("HH:mm:SS") + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>' +
            ' <p>轴承正常</p>' +
            ' <input type="text" value="' + good + '" disabled>' +
            '</td>' +
            '<td>' +
            ' <p>外圈故障</p>' +
            ' <input type="text" value="' + outProblem + '" disabled>' +
            '</td>' +
            '<td>' +
            ' <p>内圈故障</p>' +
            ' <input type="text" value="' + innerProblem + '" disabled>' +
            '</td>' +
            '<td>' +
            ' <p>滚珠故障</p>' +
            ' <input type="text" value="' + ballProblem + '" disabled>' +
            '</td>' +
            '</tr>' +
            '</table>' +
            '</div>' +
            '</div>'
    }

    function addEdit(index, newflag) {
        //编辑按钮
        $('#edit-table' + String(index) + ' button')[0].onclick = function () {
            console.log($('#form' + String(index) + ' input'))
            $('#form' + String(index) + ' input')[1].disabled = false
            $('#form' + String(index) + ' input')[1].focus()
            $('#form' + String(index) + ' input')[2].disabled = false
        }
        //删除按钮
        $('#edit-table' + String(index) + ' button')[1].onclick = function () {
            remove = confirm('确定要删除该轴承么？')
            if (remove) {
                serialNumber = $('#form' + String(index) + ' input')[0].value;
                $.get('/api/MDC_BEARING/Delete/' + serialNumber, function (deleteData, status) {
                    if (status == 'success' && !deleteData.error) {
                        $('#showBearing' + String(index)).remove();
                        alert('删除成功')
                    } else {
                        console.log(deleteData)
                        alert('删除失败，请重新登录后再试！')
                    }
                })
            }
        }
        //保存按钮
        $('#edit-table' + String(index) + ' button')[2].onclick = function () {
            if (newflag) {
                var payload = {
                    'mtid': checkedNode.mtid,
                    'kind': $('#form' + String(index) + ' input')[1].value,
                    'position': $('#form' + String(index) + ' input')[2].value
                }
            } else {
                var payload = {
                    'mtid': ($('#form' + String(index) + ' input')[0].value).split('_')[0],
                    'serialNumber': $('#form' + String(index) + ' input')[0].value,
                    'kind': $('#form' + String(index) + ' input')[1].value,
                    'position': $('#form' + String(index) + ' input')[2].value
                }
            }
            $.post('/api/MDC_BEARING/Create', payload, function (updateData, status) {
                if (status == 'success' && !updateData.error) {
                    alert('保存成功')
                    window.location.reload();
                } else {
                    console.log(updateData)
                    alert('保存失败，请重新登录后再试！')
                }
            })
        }
        $('button').kendoButton();
    }


    $.get('/api/MDC_BEARING/' + checkedNode.mtid, function (bearings, status) {
        if (status == 'success' && !bearings.error) {
            bearNum = bearings.length;
            for (let index = 0; index < bearings.length; index++) {
                const bearing = bearings[index];
                serialNumber = bearing.serialNumber;
                kind = bearing.kind;
                position = bearing.position;
                lastInspect = bearing.lastInspect;
                good = bearing.good;
                innerProblem = bearing.innerProblem;
                outProblem = bearing.outProblem;
                ballProblem = bearing.ballProblem;
                let imgPath = bearing.imgPath == "" ? "/images/bearings/default.jpg" : bearing.imgPath
                $('#mainBearings').append(bearingString(index, serialNumber, kind, position, lastInspect, good, innerProblem, outProblem, ballProblem, imgPath)
                );
                addEdit(index, false);
            }
            $('button').kendoButton();
            loadPages()
            // console.log($('.edit-table button')[0]);
        }
        $("img").click(function () {
            $("#label_fileInput2").click()
            // 取轴承ID
            var pID = $(this).attr('alt')
            $('#BEARID').val($("#" + pID).val())
            $('#fileInput2').on("change",
                e => {
                    let file = e.target.files[0];
                    // log(file);
                    let reader = new FileReader();

                    reader.addEventListener('load', () => {
                        let form = document.getElementById('upForm2');
                        let formData = new FormData(form);
                        // formData.append('avatar', 'muzhi');
                        let url = '/upload/bearing';

                        $.ajax({
                            url: url,
                            async: true,
                            method: 'POST',
                            data: formData,
                            cache: false,
                            // dataType: 'json',
                            // contentType: 'multipart/form-data',
                            contentType: false,
                            processData: false
                        }).done((data, textStatus, jqXHR) => {
                            alert(JSON.stringify(data));
                            // log(data);
                            // log(textStatus);     // success: String
                            $(this).attr('src', reader.result);
                        }).fail((jqXHR, textStatus, errorThrown) => {
                            console.log({ Error: textStatus });
                            // console.log(JSON.stringify(errorThrown))
                            // alert('上传失败' + '\n' + '[ERROR]' + errorThrown.message);
                            alert('上传失败' + '\n' + '[ERROR]' + JSON.stringify(errorThrown));
                        });

                    }, false);
                    if (!file.type.match('image.*')) {
                        alert('请上传图片格式');
                        console.log('Only image type supported');
                        return false;
                    }
                    if (file) {
                        reader.readAsDataURL(file);
                        // log(reader.result);
                    }
                }
            );
        })
    })

    $('#createBar').click(function () {
        if (checkedNode.mtid == null) {
            alert("请先选择一个节点进行添加")
            return 0
        }
        index = bearNum + 1
        serialNumber = null;
        kind = null;
        position = null;
        lastInspect = null;
        good = 0;
        innerProblem = 0;
        outProblem = 0;
        ballProblem = 0;
        imgPath = "/images/bearings/default.jpg";
        $('#mainBearings').prepend(bearingString(index, serialNumber, kind, position, lastInspect, good, innerProblem, outProblem, ballProblem, imgPath));
        $('button').kendoButton();
        addEdit(index, true);
        $('#form' + String(index) + ' input')[1].disabled = false
        $('#form' + String(index) + ' input')[1].focus()
        $('#form' + String(index) + ' input')[2].disabled = false
        loadPages()
    })

    Date.prototype.format = function (formatStr) {
        var str = formatStr;
        var Week = ['日', '一', '二', '三', '四', '五', '六'];
        str = str.replace(/yyyy|YYYY/, this.getFullYear());
        str = str.replace(/MM/, (this.getMonth() + 1) > 9 ? (this.getMonth() + 1).toString() : '0' + (this.getMonth() + 1));
        str = str.replace(/dd|DD/, this.getDate() > 9 ? this.getDate().toString() : '0' + this.getDate());
        str = str.replace(/hh|HH/, this.getHours() > 9 ? this.getHours().toString() : '0' + this.getHours());
        str = str.replace(/mm/, this.getMinutes() > 9 ? this.getMinutes().toString() : '0' + this.getMinutes());
        str = str.replace(/ss|SS/, this.getSeconds() > 9 ? this.getSeconds().toString() : '0' + this.getSeconds());
        return str;
    }

    function loadPages() {
        // 总数目
        var length = $("#hiddenresult .SB").length;
        var optInit = {callback: pageselectCallback}
        // 每页显示的列表数
        optInit.items_per_page = 5
        // 分页链接显示数
        optInit.num_display_entries = 5
        // 起始与结束点的数目
        optInit.num_edge_entries = 1
        // 上一页标签
        optInit.prev_text = "Prev"
        // 下一页标签
        optInit.next_text = "Next"
        $("#Pagination").pagination(length, optInit);

        function pageselectCallback(page_index, jq) {
            var items_per_page = 5;
            var max_elem = Math.min((page_index + 1) * items_per_page, length);

            $("#Searchresult").html("");
            // 获取加载元素
            for (var i = page_index * items_per_page; i < max_elem; i++) {
                $("#Searchresult").append($("#hiddenresult .SB:eq(" + i + ")").clone());
            }
            //阻止单击事件
            return false;
        }
    }
    loadPages()
</script>
<style>
    body html {
        height: 100%;
        width: 100%;
    }

    .toolbar {
        padding: 15px
    }

    .toolbar button {
        font-size: 16px
    }

    .show-bearing {
        height: 100px;
        width: 70%;
        border: 1px solid black;
        min-width: 950px;
    }

    .form {
        width: 32%;
        padding: 10px;
        float: left;
        margin-bottom: 0;
        font-size: 1em;
        min-width: 350px;
    }

    .form p {
        font-size: 0.8em
    }

    .form input {
        text-align: center;
        font-size: 0.8em
    }

    .table-info {
        margin-left: 12%;
    }

    .diagnosis-table {
        width: 50%;
        padding: 8px;
        text-align: center;
        min-width: 490px;
    }

    .diagnosis-table input {
        text-align: center;
        font-size: 1em;
        width: 80%
    }

    .diagnosis-table td {
        font-size: 13px
    }

    .diagnosis-table p {
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
    }

    .edit-table {
        float: right;
        width: 8%;
        text-align: center;
        padding: 1px 10px;
    }

    .edit-table button {
        width: 60px;
        font-size: 13px;
    }

    img {
        cursor: pointer;
    }
    .pagination {
        /* border: 1px solid red; */
        /* width: 40%; */
        margin: 10px auto;
    }
</style>

</html>