<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="/content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="/styles/kendo.common.min.css" rel="stylesheet">
    <link href="/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="/styles/kendo.default.min.css" rel="stylesheet">
    <link href="/styles/kendo.default.mobile.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/pagination/lib/pagination.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/pagination/lib/jquery.pagination.js"></script>
    <script src="/js/jszip.min.js"></script>
    <script src="/js/kendo.all.min.js"></script>
    <script src="/content/shared/js/console.js"></script>

</head>

<body>
    <!-- 分页条 -->
    <div id="Pagination" class="pagination"></div>
    <div id="Searchresult">分页内容显示</div>
    <!-- 一次加载至此 -->
    <div id="hiddenresult" style="display:none;">
        <div id='mainshow'></div>
    </div>

<<<<<<< HEAD
    <!-- 此表单用来证明一些参数的作用 -->
    <form name="paginationoptions" style="display: none;">
        <p>
            <label for="items_per_page">每页显示的列表数：</label>
            <input type="text" value="5" name="items_per_page" id="items_per_page" class="numeric" />
        </p>
        <p>
            <label for="num_display_entries">分页链接显示数：</label>
            <input type="text" value="5" name="num_display_entries" id="num_display_entries" class="numeric"
            />
        </p>
        <p>
            <label for="num">起始与结束点的数目：</label>
            <input type="text" value="1" name="num_edge_entries" id="num_edge_entries" class="numeric"
            />
        </p>
        <p>
            <label for="prev_text">“上一页”标签：</label>
            <input type="text" value="Prev" name="prev_text" id="prev_text" />
        </p>
        <p>
            <label for="next_text">“下一页”标签：</label>
            <input type="text" value="Next" name="next_text" id="next_text" />
        </p>
        <input type="button" id="setoptions" value="设置选项" />
    </form>

=======
>>>>>>> 60ce1de234a0c1937768dd260ec42a421226d526
</body>
<script>
    // checkednode = [{ 'mtid': 1, 'toolname': 'GTX-1000' }, { 'mtid': 2, 'toolname': 'GTX1000-48' }, { 'mtid': 3, 'toolname': 'GTX1000-49' }];
    checkednode = parent.checkednode
    // console.log(parent.checkednode)
    for (let index = 0; index < checkednode.length; index++) {
        const node = checkednode[index];
        $('#mainshow').append(
            "<div class='backlayout'><div class='tool-show'>" +
            '<div class="tool"><img src="/images/machineTools/default.jpg" class="toolPic" id="toolimg' + String(index) + '">' +
            '<table class="tool-table" id="toolinfo' + String(index) + '">' +
            '<tr>' +
            '<td>机床编号</td>' +
            '<td>1</td>' +
            '</tr>' +
            '<tr>' +
            '<td>机床名称</td>' +
            '<td>GTX1000</td>' +
            '</tr>' +
            '<tr>' +
            '<td>轴承数目</td>' +
            '<td></td>' +
            '</tr>' +
            '</table>' +
            '</div>' +
            '<div style="width: 50%;float: left;"><table class="bearing-table" id="bearinginfo' + String(index) + '">' +
            '<tr><td>轴承编号：</td><td></td><td></td><td></td><td></td></tr><tr><td>轴承状态：</td><td></td><td></td><td></td><td></td></tr></table></div>' +
            '<div class="bearing-result"><div><img src="/diagnosisImg/right.jpg" width="60px" alt="" id="bearingimg' + String(index) + '"></div><div style="font-size: 10px">最近一次检测时间：<br> <span id="lastInspect' + String(index) + '">2018-06-25 11:00:00</span></div></div></div></div>'
        )
        //机床id
        $('#toolinfo' + String(index)).children('tbody').children('tr')[0].getElementsByTagName('td')[1].innerHTML = node.mtid;
        //机床名称
        $('#toolinfo' + String(index)).children('tbody').children('tr')[1].getElementsByTagName('td')[1].innerHTML = node.toolname;

        $.get('/api/MDC_BEARING/' + String(node.mtid), function (bearings, status) {
            if (status == 'success') {
                var totalbad = 0;
                var times = [];
                for (let b_index = 0; b_index < bearings.length; b_index++) {
                    const bearing = bearings[b_index];
                    times.push(new Date(bearing.lastInspect).getTime())
                    //轴承数目
                    $('#toolinfo' + String(index)).children('tbody').children('tr')[2].getElementsByTagName('td')[1].innerHTML = bearings.length;
                    //轴承状态
                    // <button type="button" class="bearing">状态正常</button>
                    $('#bearinginfo' + String(index)).children('tbody').children('tr')[0].getElementsByTagName('td')[b_index + 1].innerHTML = bearing.serialNumber;
                    if (bearing.healthy == '1') {
                        $('#bearinginfo' + String(index)).children('tbody').children('tr')[1].getElementsByTagName('td')[b_index + 1].innerHTML = '<button type="button" class="bearing bearing-good">状态正常</button>';
                    } else {
                        $('#bearinginfo' + String(index)).children('tbody').children('tr')[1].getElementsByTagName('td')[b_index + 1].innerHTML = '<button type="button" class="bearing bearing-bad">状态异常</button>';
                        totalbad += 1;
                    }
                    if (times.length == bearings.length) {
                        lastest = Math.max.apply(null, times);
                        $('#lastInspect' + String(index))[0].innerHTML = new Date(lastest).format("yyyy-MM-dd HH:mm:ss");
                    }
                }
                // 异步加载的问题
                if (index == checkednode.length - 1) {
                    loadPages()
                }
                $(".bearing").kendoButton()

                if (totalbad != 0) {
                    $('#bearingimg' + String(index))[0].src = '/diagnosisImg/wrong.jpg'
                }
            } else {
                console.log(err)
            }

        })
        $(".bearing").kendoButton()
    }

    Date.prototype.format = function (formatStr) {
        var str = formatStr;
        var Week = ['日', '一', '二', '三', '四', '五', '六'];
        str = str.replace(/yyyy|YYYY/, this.getFullYear());
        str = str.replace(/MM/, (this.getMonth() + 1) > 9 ? (this.getMonth() + 1).toString() : '0' + (this.getMonth() + 1));
        str = str.replace(/dd|DD/, this.getDate() > 9 ? this.getDate().toString() : '0' + this.getDate());
        str = str.replace(/hh|HH/, this.getHours() > 9 ? this.getHours().toString() : '0' + this.getHours());
        str = str.replace(/mm/, this.getMinutes() > 9 ? this.getMinutes().toString() : '0' + this.getMinutes());
        str = str.replace(/ss|SS/, this.getSeconds() > 9 ? this.getSeconds().toString() : '0' + this.getSeconds());
        return str;
    }

<<<<<<< HEAD
    $(function () {
        $("#items_per_page").val(5)
        //总数目
=======
    function loadPages(){
        // 总条目
>>>>>>> 60ce1de234a0c1937768dd260ec42a421226d526
        var length = $("#hiddenresult .backlayout").length;
        var optInit = {callback: pageselectCallback}
        // 每页显示的列表数
        optInit.items_per_page = 5
        // 分页链接显示数
        optInit.num_display_entries = 5
        // 起始与结束点的数目
        optInit.num_edge_entries = 1
        // 上一页标签
        optInit.prev_text = "Prev"
        // 下一页标签
        optInit.next_text = "Next"
        $("#Pagination").pagination(length, optInit);

<<<<<<< HEAD
        // 按钮事件
        $("#setoptions").click(function () {
            var opt = getOptionsFromForm();
            // 重新创建分页参数
            $("#Pagination").pagination(length, opt);
        });
        //-----------------------------------
        function getOptionsFromForm() {
            var opt = { callback: pageselectCallback };
            // 从文本域中收集参数 - 这些空间名与参数名相对应
            $("input:text").each(function () {
                opt[this.name] = this.className.match(/numeric/) ? parseInt(this.value) : this.value;
            });
            //避免demo重引入HTML
            var htmlspecialchars = { "&": "&amp;", "<": "&lt;", ">": "&gt;", '"': "&quot;" }
            $.each(htmlspecialchars, function (k, v) {
                opt.prev_text = opt.prev_text.replace(k, v);
                opt.next_text = opt.next_text.replace(k, v);
            })
            return opt;
        }
        //-------------------------------
        function pageselectCallback(page_index, jq) {
            // 从表单获取每页的显示的列表项数目
            var items_per_page = $("#items_per_page").val();
            var max_elem = Math.min((page_index + 1) * items_per_page, length);

=======
        function pageselectCallback(page_index, jq){
            // 从表单获取每页的显示的列表项数目
            var items_per_page = 5;
            var max_elem = Math.min((page_index+1) * items_per_page, length);
            
>>>>>>> 60ce1de234a0c1937768dd260ec42a421226d526
            $("#Searchresult").html("");
            // 获取加载元素
            for (var i = page_index * items_per_page; i < max_elem; i++) {
                $("#Searchresult").append($("#hiddenresult .backlayout:eq(" + i + ")").clone());
            }
            //阻止单击事件
            return false;
        }
    }
    // 测试用
    // setTimeout(function() {
    //     loadPages()
    // }, 2000)
</script>
<style>
    body html {
        height: 100%;
        width: 100%;
    }

    .backlayout {
        width: 60%;
        height: 100%;
    }

    .tool-show {
        border: 1px solid black;
        min-width: 1000px;
        width: 100%;
        height: 100px;
    }

    .tool {
        width: 30%;
        float: left;
        min-width: 360px;
    }

    .toolPic {
        float: left;
        height: 90px;
        margin: 5px 5px;
    }

    .tool-table {
        float: left;
        height: 90px;
        width: 50%;
        padding: 8px
    }

    table.tool-table td {
        padding: 5px 5px;
        text-align: center;
    }

    table.bearing-table td {
        padding: 5px 10px;
        text-align: center;
        width: 8%
    }

    .bearing {
        font-size: 15px;
        padding: 2px;
    }

    .bearing-table {
        float: left;
        padding: 14px;
        background-color: gainsboro;
        width: 100%
    }

    .bearing-result {
        width: 12%;
        float: right;
        padding: 5px 10px;
        text-align: center
    }

    .bearing-good {
        background-color: green
    }

    .bearing-bad {
        background-color: rgb(233, 38, 38)
    }

    .pagination {
        /* border: 1px solid red; */
        /* width: 40%; */
        margin: 0px auto 10px;
    }
</style>

</html>