<head>
    <meta charset="utf-8">
    <link href="/content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="/styles/kendo.common.min.css" rel="stylesheet">
    <link href="/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="/styles/kendo.default.min.css" rel="stylesheet">
    <link href="/styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jszip.min.js"></script>
    <script src="/js/kendo.all.min.js"></script>
    <script src="/content/shared/js/console.js"></script>

</head>

<body>
    <div id='searchCon' style="padding-left:5%;background-color:gainsboro">
        <p style="padding: 20px;font-size: 2em">搜索条件:</p>
        <table style="width: 100%;text-align: center;padding: 10px;min-width: 1200px;;max-width: 1250px;margin-left: 15px">
            <tr>
                <td class="tdRight">机床编号:</td>
                <td class="tdLeft">
                    <select name="" id="toolId">
                        <option value=""></option>
                    </select>
                </td>
                <td class="tdRight">轴承编号:</td>
                <td class="tdLeft">
                    <select name="" id="bearingId">
                        <option value=""></option>
                    </select>
                </td>
                <td class="tdRight">开始时间:</td>
                <td class="tdLeft">
                    <input id="start" value="" />
                </td>
                <td class="tdRight">结束时间:</td>
                <td class="tdLeft">
                    <input id="end" value="" />
                </td>
                <td class="tdLeft">
                    <button class='search' id='clearTime'>清除时间</button>
                </td>
                <td class="tdLeft">
                    <button class='search' id='submitSearch'>搜索</button>
                </td>
            </tr>

        </table>
    </div>

    <div id='bearingsGrid' style="width:90%;padding: 0 5%;height: 500px;min-width: 1200px;">

    </div>

</body>
<script>

    $('.search').kendoButton()

    $('#clearTime').click(function () {
        $("#start").val('')
        $("#end").val('')
    })

    $.get('/api/MDC_MACHINETOOLS', function (tools, status) {
        if (status == 'success') {
            for (let index = 0; index < tools.length; index++) {
                const tool = tools[index];
                $('#toolId').append('<option value="' + tool.ID + '">' + tool.ID + '</option>')
            }
        }
    })

    $('#toolId').change(function () {
        mtid = $('#toolId').val()
        $('#bearingId').empty()
        $('#bearingId').append('<option value=""><option>')
        $.get('/api/MDC_BEARING/' + mtid, function (bearings, status) {
            if (status == 'success') {
                for (let index = 0; index < bearings.length; index++) {
                    const bearing = bearings[index];
                    $('#bearingId').append('<option value="' + bearing.serialNumber + '">' + bearing.serialNumber + '</option>')
                }
            } else {
                alert('获取轴承数据失败，请稍后再试！')
            }
        })
    }
    )

    $('#submitSearch').click(function () {
        var mtid = $('#toolId').val();
        var serialNumber = $('#bearingId').val();
        var start = $('#start').val();
        var end = $('#end').val();
        $.get('/api/INSPECT_HIS?mtid=' + mtid + '&serialNumber=' + serialNumber + '&start=' + start + '&end=' + end, function (datas, status) {
            for (let index = 0; index < datas.length; index++) {
                datas[index].lastInspect = new Date(datas[index].lastInspect);
                datas[index].possible = String(datas[index].good) + ' ' + String(datas[index].innerProblem) + ' ' + String(datas[index].outProblem) + ' ' + String(datas[index].ballProblem)
            }
            if (status == 'success') {
                $("#bearingsGrid").kendoGrid({
                    dataSource: datas,
                    toolbar: ["excel"],
                    excel: {
                        fileName: "历史数据"
                    },
                    pageable: {
                        pageSize: 10,
                        refresh: true
                    },
                    sortable: true,
                    columns: [
                        { field: "id", title: "序号", format: "{0:n0}" },
                        { field: "mtid", title: "机床ID" },
                        { field: "serialNumber", title: "轴承编号" },
                        { field: "possible", title: "诊断输出" },
                        { field: "result", title: "诊断结果" },
                        { field: "lastInspect", title: "检测时间", format: "{0: yyyy-MM-dd HH:mm:ss}" },
                        // { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
                    ]
                });
            } else {
                alert('获取数据失败，请稍后再试！')
            }
        })
    })


    var today = new Date();

    var start = $("#start").kendoDateTimePicker({
        value: '',
        change: startChange,
        parseFormats: ["MM/dd/yyyy"]
    }).data("kendoDateTimePicker");

    var end = $("#end").kendoDateTimePicker({
        value: '',
        change: endChange,
        parseFormats: ["MM/dd/yyyy"]
    }).data("kendoDateTimePicker");
    // 时间区间选择
    function startChange() {
        var startDate = start.value(),
            endDate = end.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate());
            end.min(startDate);
        } else if (endDate) {
            start.max(new Date(endDate));
        } else {
            endDate = new Date();
            start.max(endDate);
            end.min(endDate);
        }
        // $("#timesize").val("");
        // onCheck();
    }

    function endChange() {
        var endDate = end.value(),
            startDate = start.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate());
            start.max(endDate);
        } else if (startDate) {
            end.min(new Date(startDate));
        } else {
            endDate = new Date();
            start.max(endDate);
            end.min(endDate);
        }
        // document.getElementById('timesize').value = null;
        // console.log($("#start").val())
    }
    start.max(end.value());
    end.min(start.value());

</script>

<style>
    .k-datetimepicker .k-picker-wrap .k-icon {
        margin: 7px 2px;
    }

    select {
        width: 70px;
        height: 30px
    }

    .tdLeft {
        text-align: left;
    }

    .tdRight {
        text-align: right;
    }

    td {
        width: 10%
    }

    select {
        font-size: 1em
    }

    .k-grid-header th.k-header {
        text-align: center
    }

    #bearingsGrid td {
        text-align: center
    }
</style>