<!DOCTYPE html>
<html>

<head>
    <title>轴承诊断分析系统</title>
    <meta charset="utf-8">
    <link href="/content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="/styles/kendo.common.min.css" rel="stylesheet">
    <link href="/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="/styles/kendo.default.min.css" rel="stylesheet">
    <link href="/styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jszip.min.js"></script>
    <script src="/js/kendo.all.min.js"></script>
    <script src="/content/shared/js/console.js"></script>
    <script>
        // function stateChangeIE(_frame) {
        //     var loader = document.getElementById("LoadDiv");
        //     //loader.innerHTML = "加载中";
        //     loader.style.display = "none";
        //     _frame.style.display = "block";
        //     // _frame.style.display = "block"
        // };
    </script>
</head>

<body>
    <a id="logo" href='/'></a>
    <div class="demo-section k-content wide">
        <div class="menu-botton">
            <div>
                <ul id="menu-images"></ul>
                <button type="button" id="imageButton1">概览</button>
                <button type="button" id="imageButton2">机床轴承配置</button>
                <button type="button" id="imageButton3">轴承故障诊断</button>
                <button type="button" id="imageButton4">诊断历史记录</button>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <button type="button" class="k-button" id="primaryTextButton5">提交选择</button>
        <div style="text-align:center;" id="trtitle">设备列表</div>
        <div id="treeview" class="treeview"></div>
    </div>
    <!--内容-->
    <div class="main">
        <iframe id="iframeId" src="" frameborder="0" scrolling="no" onload="" class="iframe">
        </iframe>
    </div>

    <!-- <div id="LoadDiv" align="center">
            <img src="/images/loading.gif" style="height:100px;width:100px;margin-top:15%">
            <p>加载中...</p>
        </div> -->

    <div class="<resp></resp>onsive-message"></div>
</body>
<script>
    // setTimeout(function () {
    //     iframe = document.getElementById('iframeId');
    //     if (iframe.style.display == "none") {
    //         document.getElementById("LoadDiv").style.display = 'none';
    //         alert('加载失败，请退出后重新登录');
    //         window.stop();
    //     }
    // }, 120000)

    // 闭包, 点击按钮变换样式
    var hlClickButton = function () {
        var eleIdTmp = ""
        function hlClickButtonCls(element) {
            if (eleIdTmp != "") {
                $("#" + eleIdTmp).css("background-color", "")
            }
            eleIdTmp = element.id
            $("#" + eleIdTmp).css("background-color", "#ff9900")
        }
        return hlClickButtonCls
    }

    // treeview
    function fn(data, pid) {
        var result = [],
            temp;
        for (var i = 0; i < data.length; i++) {
            if (data[i].pid == pid) {
                if (data[i].isParent == false) {
                    var obj = {
                        "ID": data[i].ID,
                        "isParent": data[i].isParent,
                        "text": data[i].name,
                        "checked": true
                    };
                } else {
                    var obj = {
                        "isParent": data[i].isParent,
                        "text": data[i].name,
                        "checked": false
                    };
                }
                temp = fn(data, data[i].id);
                if (temp.length > 0) {
                    obj.items = temp;
                }
                result.push(obj);
            }
        }
        return result;
    }

    function checkedNodeIds(nodes, checkedNodes) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].checked) {
                if (nodes[i].isParent == false) {
                    checkedNodes.push({
                        id: nodes[i].ID,
                        name: nodes[i].text
                    });
                }
            }
            if (nodes[i].hasChildren) {
                checkedNodeIds(nodes[i].children.view(), checkedNodes);
            }
        }
    }

    function onCheck() {
        var checked = []
        var treeView = $("#treeview").data("kendoTreeView")
        checkedNodeIds(treeView.dataSource.view(), checked)
        // console.log(checked)
        return checked
    }

    var checkednode = []
    var bearcheckednode = []
    function generateCheckedNodes() {
        checkednode = []
        var checked = onCheck()
        for (var i = 0; i < checked.length; i++) {
            checkednode.push({ "mtid": checked[i].id, "toolname": checked[i].name })
        }
    }
    // 针对轴承配置 每次只能选择一个叶节点
    function checkUncheckAllNodes(nodes, checked) {
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].set("checked", checked);
            if (nodes[i].hasChildren) {
                checkUncheckAllNodes(nodes[i].children.view(), checked);
            }
        }
    }
    var isBearConfig = false
    function OneCheckedNode() {
        if (isBearConfig) {
            bearcheckednode = []
            var treeView = $("#treeview").data("kendoTreeView")
            checkedNodeIds(treeView.dataSource.view(), bearcheckednode)
            if (bearcheckednode.length > 1) {
                checkUncheckAllNodes(treeView.dataSource.view(), false)
            }
            if (bearcheckednode.length == 1) {
                document.getElementById('iframeId').contentWindow.location.reload(true)
            }
        }
    }

    $(document).ready(function () {
        // 左侧树状图
        $.get("/api/MDC_FACTORY", function (data, status) {
            if (status == "success") {
                $.get("/api/MDC_MTGROUP", function (data1, status) {
                    if (status == "success") {
                        $.get("/api/MDC_MACHINETOOLS", function (data2, status) {
                            if (status == "success") {
                                var resolve = []
                                resolve.push({
                                    id: 12,
                                    pid: 0,
                                    name: "工厂"
                                })
                                for (var i = 0; i < data.length; i++) {
                                    resolve.push({
                                        id: data[i].TREENODEINFO.id,
                                        pid: data[i].TREENODEINFO.pId,
                                        name: data[i].TREENODEINFO.name,
                                        isParent: data[i].TREENODEINFO.isParent
                                    })
                                }
                                for (var i = 0; i < data1.length; i++) {
                                    resolve.push({
                                        id: data1[i].TREENODEINFO.id,
                                        pid: data1[i].TREENODEINFO.pId,
                                        name: data1[i].TREENODEINFO.name,
                                        isParent: data1[i].TREENODEINFO.isParent
                                    })
                                }
                                for (var i = 0; i < data2.length; i++) {
                                    resolve.push({
                                        ID: data2[i].ID,
                                        id: data2[i].TREENODEINFO.id,
                                        pid: data2[i].TREENODEINFO.pId,
                                        name: data2[i].TREENODEINFO.name,
                                        isParent: data2[i].TREENODEINFO.isParent
                                    })
                                }

                                // console.log(fn(nodes, 0));
                                dataSource = fn(resolve, 0)
                                // kendoTreeView 函数
                                $("#treeview").kendoTreeView({
                                    checkboxes: {
                                        checkChildren: true
                                    },
                                    dataSource: dataSource,
                                    check: OneCheckedNode
                                })
                                var treeview = $("#treeview").data("kendoTreeView")
                                treeview.expand(".k-item")

                                ////////
                                onCheck()

                                var handleTextBox = function (callback) {
                                    return function (e) {
                                        if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode) {
                                            callback(e);
                                        }
                                    };
                                };

                                // 顶端按钮选项
                                var hlButton = hlClickButton()
                                $("#imageButton1").kendoButton({
                                    imageUrl: "/content/shared/icons/new/outline.png",
                                });
                                $("#imageButton2").kendoButton({
                                    imageUrl: "/content/shared/icons/new/display.png",
                                });
                                $("#imageButton3").kendoButton({
                                    imageUrl: "/content/shared/icons/new/energy.png",
                                });
                                $("#imageButton4").kendoButton({
                                    imageUrl: "/content/shared/icons/new/meta.png",
                                });

                                $("#imageButton1").click(function () {
                                    hlButton(this)
                                    isBearConfig = false
                                    $("#primaryTextButton5").css("display", "")
                                    generateCheckedNodes()
                                    $("#iframeId").attr('src', 'diagnosis/config')
                                    $('.sidebar').css('display', 'block')
                                    $('#iframeId').css('width', '75%')
                                })
                                $("#imageButton2").click(function () {
                                    hlButton(this)
                                    // generateCheckedNodes()
                                    // 隐藏提交按钮
                                    $("#primaryTextButton5").css("display", "none")
                                    // 激活check回调函数
                                    isBearConfig = true
                                    OneCheckedNode()
                                    $("#iframeId").attr('src', 'diagnosis/bearing')
                                    $('.sidebar').css('display', 'block')
                                    $('#iframeId').css('width', '75%')
                                })
                                $("#imageButton3").click(function () {
                                    hlButton(this)
                                    isBearConfig = false
                                    $("#primaryTextButton5").css("display", "")
                                    $("#iframeId").attr('src', 'diagnosis/inspect')

                                    $('.sidebar').css('display', 'none')
                                    $('#iframeId').css('width', '100%')
                                })
                                $("#imageButton4").click(function () {
                                    hlButton(this)
                                    $("#iframeId").attr('src', 'diagnosis/history');
                                    $('.sidebar').css('display', 'none')
                                    $('#iframeId').css('width', '100%')
                                })
                                $("#imageButton1").click()
                            }
                        });
                    }
                });
            }
        });
        $("#primaryTextButton5").click(function () {
            generateCheckedNodes()
            // console.log(checkednode)
            document.getElementById('iframeId').contentWindow.location.reload(true)
        })
    });
</script>
<style>
    body {
        height: 100%;
        width: 100%;
    }

    #logo {
        position: fixed;
        height: 50px;
        width: 300px;
        left: 20px;
        top: 30px;
        z-index: 9;
        background: url('/images/logo_rb.png') no-repeat center 0;
        background-size: 100%;
    }

    .demo-section {
        position: fixed;
        height: 44px;
        width: 100%;
        z-index: 8;
        margin: 0 auto;
    }

    .menu-botton {
        margin-left: 450px;
        margin-top: 5px
    }

    .demo-section .k-button {
        margin-right: 20px;
    }

    .k-button .k-image {
        height: 16px;
    }

    #trtitle {
        background-color: gray;
        margin: 2em auto 1em;
    }

    .sidebar {
        width: 15%;
        float: left;
        padding-top: 130px;
        margin-left: 2em;
        margin-right: 20px;
        border-right: 1px solid #ccc;
        min-height: 640px;
    }

    .main {
        height: 1000px;
        min-height: 640px;
        /* border: 1px solid black; */
    }

    .k-textbox {
        width: 80px;
    }

    #iframeId {
        /* position: relative; */
        width: 80%;
        height: 100%;

        /* float: right; */
        /* overflow: hidden; */
        padding-top: 130px;
        /* border: 1px solid red; */
    }

    html {
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>

</html>